html,body {font-family: 'Montserrat', sans-serif;scroll-behavior: smooth;}
  button,input{outline: none;box-shadow: none;}
  a{cursor: pointer;}
  
  header {height: 100vh;background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(../img/banner.jpg) no-repeat center center/cover;}

  .banner .logoImg{    width: 500px;margin: 0 auto 15px;display: block;}
  .nav-menu {background: transparent;padding: 10px 80px;transition: all .7s;}
  .menu-item {font-size: 14px;font-weight: 600;letter-spacing: 1px;color: #fffefe;transition: color .5s;}
  .navbar .menu-item.btn div{margin-top: 8px;}
  .navbar .menu-item.btn{background: #ec472b;padding: 0 15px;border-radius: 30px;min-width: 120px;height: 40px;}
  .menu-item.btn.btn-white{background: transparent;border: 1px solid;padding: 0 16px;}
  .menu-item.btn.btn-white:hover{padding:0 16px}
  .menu-item.btn:hover{padding: 0 15px;color: #fff;}
  .menu-item:hover {color: #c13d2e;}
  .menu-item:hover:after{content:'';position: relative;display: block;top: 1px;height: 2px;width: 0;margin: 0 auto;background: #f78208;transition: 300ms linear;transition-property: width;}
  .nav-active {color: #c13d2e;font-weight: 600;}
  .line1, .line2, .line3 {width: 23px;height: 3px;margin: 5px;transition: all .4s;}
  .change .line1 {transform: rotate(-45deg) translate(-5px, 6px);}
  .change .line2 {opacity: 0;}
  .change .line3 {transform: rotate(45deg) translate(-5px, -6px);}
  .custom-navbar {padding: 10px 10vw;background: #010e3a}
  .navbar-brand figure{margin: 0}
  .navbar .navbar-brand figure img{max-width: 180px;outline: none;}
  .banner {position: absolute;top: 55vh;left: 50%;transform: translate(-50%, -50%);width: 80%;}
  .banner-heading {animation-name: anim;animation-duration: 2s;text-align: center;font-weight: 700;font-size: 2.8rem;}
  .banner-heading span{font-size: 2.5rem;font-weight: 500;display: block;max-width: 650px;margin: auto;}
  .banner-par {animation-name: anim;animation-duration: 2s;animation-delay: .5s;animation-fill-mode: backwards;max-width: 550px;margin: auto;font-weight: 400;font-size: 1.1rem;text-align: center;}
  .banner-btn{margin-top: 30px;}
  .banner-btn.row div a img {cursor: pointer;}
  .ctabanner {background: url(../img/ctaBanner.jpg);background-repeat: no-repeat;background-size: cover;color: #fff;padding: 4.25rem 0;}
  .ctabanner::after {content: '';background: url(../img/player-hockey.png) no-repeat;background-size: contain;padding: 175px;position: absolute;right: 60px;margin-top: -180px;}
  .ctabanner .container .row .col-sm-12{padding: 0;}
  .ctabanner h5{color: #ec472b;font-weight: 600;font-size: 5rem;letter-spacing: 6px;margin: auto;}
  .ctabanner h6{text-align: left;color: #000;font-weight: 700;font-size: 1.8rem;margin: 0;text-transform: uppercase;line-height: 1.25;}
  .ctabanner a{color: #0025a8;text-decoration: underline;font-size: 1.1rem;}
  @keyframes anim {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
    .characterstics{padding: 80px 0;}
    .characterstics .card.active{box-shadow: 0 0 25px #7b86ac40;transform: scale(1);border-radius: 8px;}
    .characterstics .card-body{padding: 35px 2.25rem 80px;}
    .characterstics .card-body .col{padding: 0;}
    .characterstics .card-body .col .slot{background: #ec472b;font-size: 34px;padding: 4px 0;;font-weight: 500;text-align: center;}
    .characterstics .card-body .col p{color: #000;font-size: 0.9rem;margin: 20px 0 15px;text-align: left;font-weight: 600;letter-spacing: -.7px;line-height: 2.5;}
    .characterstics .card-body .col h5{color: #000;text-align: left;padding-left: 15px;margin: 0;border-bottom: 1px solid #ccced6;padding-bottom: 10px;max-width: 190px;}
    .characterstics .card-body a{max-width: 161px;text-align: left;position: absolute;left: 2.25rem;color: #ec472b;font-weight: 600;text-decoration: underline;}
    .characterstics .card{background:transparent;max-width: 350px;border: 0;}
    .moveFromLeft {animation-name: moveFromLeft;animation-duration: 2s;}
    .moveFromRight {animation-name: moveFromRight;animation-duration: 2s;}
    .moveFromBottom {animation-name: moveFromBottom;animation-duration: 2s;}
  @keyframes moveFromLeft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes moveFromRight {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  @keyframes moveFromBottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1; 
    }
}

.about{padding: 40px 0;}
.about h3{margin: 10px 0 20px;color: #ec472b;font-weight: 600;text-transform: uppercase;position: relative;padding-bottom: 10px;}
.about h3:before{content: '';position: absolute;height: 2px;width: 95px;background: #000;bottom: 0;}
.about p{margin: 0 0 15px;color: #000;font-weight: 500;font-size: 18px;}
.about ul{list-style: none;font-size: 14px;font-weight: 500;}
.about ul li{position: relative;}
.about ul li:before{content: url(../img/arrow-right.svg);position: absolute;left: -25px;width: 9px;top: 5px;}
.about a{background: #fff;border: 1px solid #ec472b;color: #ec472b;padding: 12px 20px;border-radius: 42px;display: inline-block;outline: none;text-decoration: none;}
.about a span{letter-spacing: -2.5px;padding-inline-start: 10px;}
.about a:hover{background: #ec472b;color: #fff;}
.about figure{margin: 10px 40px;}
.about figure img{max-width: 100%;}
.demo{height: 100vh;padding: 30px 0;}
.demo figure{margin: 10px 0;}
.demo figure img{max-width: 100%;}
.demo p{margin: 0px auto;max-width: 35%;color: #000;font-size: 22px;font-weight: 600;text-align: center;position: relative;}
.demo p:after{content: '';width: 100%;height: 1.5px;background: #ec472b;position: absolute;bottom: 0px;left: 0;right: 0;}
.demo .row.btnRow{margin-top: 16px;}
.demo a{box-shadow: 0 10px 31px #bdc2d599;border-radius: 8px;}


footer{background: #272727;padding: 2.5rem 0;}
footer p{color: #fff;line-height: 1.1;font-size: 14px;font-weight: 500;}
footer a{color: #fff;line-height: 1.1;font-size: 14px;font-weight: 500;text-decoration: none;}
footer a:hover{color: #fff;text-decoration: none;}
footer .media-container-column{margin-top: 15px;}
footer .media-container-column input{outline: none;background: none;border: none;border-bottom: 1px solid #525252;font-size: 15px;width: 100%;color: #fff;}
footer .media-container-column button{width:100%;background-color: #ec472b;border-color: #ec472b;color: #fff;border-radius: 34px;min-width: 140px;min-height: 50px;outline: none;}
footer .media-container-column button:hover{color: #fff;}
footer .footList{color: #fff;list-style: none;}
footer .footList .col-12{padding: 0.4rem 1.3em;}
footer .footList .col-12 a{font-size: 14px;font-weight: 400;color:#fff;}
footer svg{color: #ec472b;}
footer h6{color: #fff;padding-left: 1em;font-size: 20px;margin: 0 0 5px;font-weight: 600;position: relative;}
footer h6:after{content: '';width: 35px;height: 1.5px;background: #ec472b;position: absolute;bottom: -4px;left: 1em;}
footer .socialRow{margin-top: 50px;margin-bottom: 10px;} 
footer .socialRow .size{width: 0.8em;}
footer svg.iconPin{font-size: 1.1rem;margin-right: 1rem !important;}
footer .copyRight{border-top: 1px solid #3d3d3d;padding-top: 15px;margin-top: 15px;text-align: center;}
footer .copyRight a{color: #fff;font-weight: 500;}
footer figure{max-width: 180px;margin: auto;}
footer figure img{max-width: 100%;opacity: 0.5;}
  /* scrollbar */
  
  body::-webkit-scrollbar {width: 4px;}
  body::-webkit-scrollbar-track {background: #ec472b;}
  body::-webkit-scrollbar-thumb {background: #010e3a;border-radius: 30px;}
  body::-webkit-scrollbar-thumb:hover {background: #fff;}


  /* small  Screens */

  @media screen and (max-width: 1100px) and (max-height: 800px){
    .ctabanner:after {padding: 155px;right: 0;margin-top: -165px;}
  }

  @media screen and (max-width: 900px){
    .nav-menu{padding: 10px 15px;}
    .navbarList{background: #010e3a;}
    .banner-heading{font-size: 2.4rem;font-weight: 500;}
    .banner-heading span{font-size: 2rem;font-weight: 400;}
    .banner-par{font-size: 1rem;}
    .about .row div:nth-child(1){order: 1;}
    .banner-btn {margin-top: 10px;}
    .banner-btn.row div{margin-top: 15px; }
    .banner-btn.row div a img{max-width: 46vw;}
    .ctabanner:after {content: none;}
    .demo{height: max-content;}
    .ctabanner h5 {font-weight: 600;font-size: 4rem;}
    .ctabanner h6 {text-align: center;font-size: 1.5rem;max-width: 70vw;margin: 10px auto 0;}
    footer .col-md-4{border-bottom: 1px solid #3d3d3d;padding-bottom: 15px;margin-bottom: 15px;}
    .characterstics {padding: 30px 0;}
    .sliderHN{height: max-content;}
    .banner .logoImg {width: 200px;}
    .demo p {margin: 10px auto;max-width: 80%;font-size: 16px;}
    .row.btnRow div{margin: 10px 0;}
    .about a{margin: auto;display: table;}
  }

  @media screen and (min-width: 900px){
    .demo {height: max-content;}
  }


